@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  color: white;
  background-color: #131312;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.slide-animation {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  animation: slide 0.5s forwards;
  -webkit-animation: slide 0.5s forwards;
}

@keyframes slide {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide {
  100% {
    -webkit-transform: translateX(0%);
  }
}

.button {
  @apply text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-lg px-5 py-2.5 mr-2 mb-2;
}

.small-button {
  @apply text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-lg ml-2 py-1;
}

.black-line {
  @apply w-7/12 mt-8 bg-black h-px mb-3;
}

.slick-slider .slick-prev {
  z-index: 1;
}

@media only screen and (max-width: 1024px) {
  .slick-slider .slick-next {
    right: 15px;
  }

  .slick-slider .slick-prev {
    left: 0;
  }
}
