@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-slideshow-image/dist/styles.css";

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  color: white;
  background-color: #131312;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.slide-animation {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  animation: slide 0.5s forwards;
  -webkit-animation: slide 0.5s forwards;
}

.slide-out {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

.button {
  @apply text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-lg px-5 py-2.5 mr-2 mb-2;
}

.small-button {
  @apply text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-lg ml-2 py-1;
}
